@keyframes navanim {
    0% {opacity: 0;}
	100% {opacity: 1;}
};

nav{
    height: 50px;
    background-color: black;
    font-family: 'Raleway', sans-serif;
}

ul{
    height: 50px;
    margin-top: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
   
}

li{
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    padding: 10px 20px;
    font-weight: 100px;
    animation: navanim 1s forwards;
    color: #FF7E6B;
}

li:hover{
    background-color: rgba(136, 131, 134, 0.966);
    transition: 0.5s;
}

li.threelines-icon{
    display: none;
}

a{
    text-decoration: none;
    color: #FF7E6B;
}

@media only screen and (max-width: 900px){
    nav{
        width: auto;
    }
    nav.menuJS{

    }
    li{
        display: none;
    }
    li.threelines-icon{
        position: absolute;
        right: 10px;
        top: 5px;
        display: inline-block;
        color: #FF7E6B;
        text-align: center;
    }
}